body {
    margin: 0;
    overflow: hidden;
	height: fit-content;
    width: fit-content;
}

#background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('./img/ouija-01.png') center center no-repeat;
    background-size: cover;
    transform-origin: center center;
    transform: translate(0, 0);
    transform: rotate(90deg);
}

#info{
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 1;
}