/*13*/
@font-face {
    font-family: "Flame Bold";
    src: url("fonts/FlameBold.woff");
}

*{
    font-family: "Flame Bold";
}
.hide{
    display: none !important;
}
 
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #F4ECDD;
    background-image: url("img/fondoWeb.png");
    background-size: cover;
    z-index: 2;
    height: 100vh;
    width: 100vw;
}

section img{
    width: 50%;
}
section h1, h2{
    color:#4E2313;
}

@media only screen and (max-width: 768px) {
    section{
        display: none !important;
        z-index: 2;
        height: 100vh;
        width: 100vw;
    }
}


p{
    color: #F5EBDC;
    font-size: 1.5em;
    text-align: center;
}



body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}


#splashscreen{
    height: 100vh;
    width: 100vw;
    background: url('./img/splashscreen.png') center center no-repeat;
    background-size: cover;
}

#permission{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: url('./img/fondo.png') center center no-repeat;
    background-size: cover;
}

input, button{
    width: 80%;
    height: 10%;
    font-size: 3vw;
    border: solid 2px #4E2313;
    background-color: #F4ECDD;
    border-radius: 30px;
    color: #4E2313;
}

#accelPermsButton{
    font-size: 5vw;
}

#zAcc{
    width: 70%;
    height: 10%;
    font-size: 2em;
    border: solid 2px #4E2313;
    background-color: #F4ECDD;
    border-radius: 10px;
    color: #4E2313;
}

#tilt{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: url('./img/fondo.png') center center no-repeat;
    background-size: cover;
}

#instructions{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 10em;
    justify-content: start;
    align-items: center;
    background: url('./img/fondo.png') center center no-repeat;
    background-size: cover;
}

#cuestions{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: url('./img/fondo.png') center center no-repeat;
    background-size: cover;
}

#winner{
    height: 100vh;
    width: 100vw;
    background: url('./img/fondo2.png') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#logoImg{
    width: 80%;
}

#loser{
    height: 100vh;
    width: 100vw;
    background: url('./img/fondo.png') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#permission{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: url('./img/fondo.png') center center no-repeat;
    background-size: cover;
}

#game{
    height: 100vh;
    width: 100vw;
}

#request{
    width: 50vw;
    height: 10vh;
}
#letra{
    position: absolute;
    height: 300%;
    width: 800%;
    background: url('./img/ouija-01.png') center center no-repeat;
    background-size: cover;
    transform-origin: center center;
    transform: translate(50%, 50%);
    z-index: 2;
}

#background {
    position: absolute;
    height: 300%;
    width: 800%;
    background: url('./img/ouija-01.png') center center no-repeat;
    background-size: cover;
    transform-origin: center center;
    transform: translate(50%, 50%);
}

#info{
    background: url('./img/tag3.png') center center no-repeat;
    background-size: cover;
    position: fixed;
    top: 40vh;
    left: 45vw;
    z-index: 1;
    height: 100px;
    width: 100px;
    
}

#QR{
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center center;
    height: 60vw;
    width: 60vw;
}