body {
    margin: 0;
    overflow: hidden;
}

#background {
    position: absolute;
    height: 300%;
    width: 300%;
    background: url('./img/ouija-01.png') center center no-repeat;
    background-size: cover;
    transform-origin: center center;
    transform: translate(0%, 0%);
}

#info{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}